
.tenent-heading{
    font-size: 48px;
    color: white;
    text-align: left;
    padding-right: 40%;
    margin-bottom: 35px;
}
.switch-image-col{
     background-image: url("../../../Assests/Images/Rectangle\ 92.png");
     background-size: 100%;
     background-repeat: no-repeat;
     padding: 40px 0px;
}
.tenent-heading span{
    color: #12BFA2;
}
.tenant-demand-text-row{
    color: white;
    text-align: left;
}
.tenant-demand-text-row div{
    padding: 0px 50px 0px 8px;
}
.tenant-demand-text-row h5{
    font-size: 24px; 
}
.tenant-demand-text-row h5 span{
    color: #12BFA2;  
}
.small-screen-col{
    display: none;
}
@media only screen and (max-width:768px) {
    .switch-image-col{
        display: none;
    }
    .small-screen-col{
        display: block;
        margin-top: 0px;
    }
    .tenent-heading{
        text-align: justify;
        padding: 0px 50px 0px 50px;
        font-size: 32px;
    }
    .tenant-demand-text-row{
        margin: auto;
        padding: 0px 20px;
    }
    .tenant-demand-text-row div{
        padding: 0px 0px 0px 0px;
    }
    .tenant-demand-text-row h5{
        font-size: 18px;
    }
}